KAFKA_BROKER=localhost:9093
KAFKA_CONSUMER_GROUP=hospital-management-system-consumer

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=hospital_db


JWT_SECRET=kjgvlvnsanlblzkndszkjbdvmS
JWT_EXPIRES_IN=1d